mixin mainNav
    //- main nav

mixin sideBar
    //- sidebar


- 
    //- DEFAULT MENU , CHANGE PER YOUR USE CASE
    var menus = [
        {icon: 'icons/home.svg', name: 'Home', url: "#"}, 
        {icon: 'icons/about.svg', name: 'About', url: "about.html"}, 
        {icon: 'icons/contact.svg', name: 'Contact', url: "contact.html"}, 
        {icon: 'icons/faqs.svg', name: 'FAQ', url: "faqs.html"}, 
        {icon: 'icons/home.svg', name: 'Home', url: "#"}, 
    ]
