extends base
block body
    block nav
        //- navigation 
        +mainNav()

    block content
        //- content

    block footer 
        include ../partials/footer
    
    //- Scripts
    block scripts    